#Домашнє завдання до тем apply(), groupby(), pivot_table()

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [1]:
import pandas as pd

df = pd.read_csv('../data/supermarket_sales.csv')

In [2]:
df.head(10)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
5,699-14-3026,C,Naypyitaw,Normal,Male,Electronic accessories,85.39,7,29.8865,627.6165,3/25/2019,18:30,Ewallet,597.73,4.761905,29.8865,4.1
6,355-53-5943,A,Yangon,Member,Female,Electronic accessories,68.84,6,20.6520,433.6920,2/25/2019,14:36,Ewallet,413.04,4.761905,20.6520,5.8
7,315-22-5665,C,Naypyitaw,Normal,Female,Home and lifestyle,73.56,10,36.7800,772.3800,2/24/2019,11:38,Ewallet,735.60,4.761905,36.7800,8.0
8,665-32-9167,A,Yangon,Member,Female,Health and beauty,36.26,2,3.6260,76.1460,1/10/2019,17:15,Credit card,72.52,4.761905,3.6260,7.2
9,692-92-5582,B,Mandalay,Member,Female,Food and beverages,54.84,3,8.2260,172.7460,2/20/2019,13:27,Credit card,164.52,4.761905,8.2260,5.9

1. Дослідимо, який філіал супермаркету ('Branch') є найприбутковішим. Для цього знайдіть сумарний прибуток за кожним філіалом і виявіть, який філіал має найвищий.

In [3]:
income_by_branches = df.groupby('Branch')['gross income'].sum()
income_by_branches

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

In [4]:
# Найприбутковішим є філіал С

income_by_branches.sort_values(ascending=False)[:1]

Branch
C    5265.1765
Name: gross income, dtype: float64

2. В якому місті знайходиться філіал з найвищим прибутком? Може в тому місці нам розмітисти ще один магазин.  
Знайдіть відповідь за допомогою функціоналу Pandas.

In [5]:
df[df['Branch'] == income_by_branches.idxmax()]['City'].unique()

array(['Naypyitaw'], dtype=object)

3.1. Створіть зводну таблицю, яка покаже, скільки покупок (інвойсів) було зроблено в кожній з філій (`Branch`) за різними категоріями товарів. Запишіть таблицю в змінну `invoices_by_category` і виведіть змінну на екран.
Ця таблиця допоможе проаналізувати, в якій філії купують найбільше товарів кожної з категорій.

In [6]:
invoices_by_category = pd.pivot_table(df, index='Branch', columns='Product line', aggfunc='size')
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. Викристовуючи змінну `invoices_by_category` дайте відповідь програмно (тобто значення треба не просто знайти очима, а вивести за допомогою коду), в якому філіалі магазину (`Branch`) найбільше інвойсів із покупкою товарів категорії "Електронні аксесуари" (`Electronic accessories`)?

In [7]:
# Спосіб 1

invoices_by_category[invoices_by_category['Electronic accessories'] == invoices_by_category['Electronic accessories'].max()]['Electronic accessories']

Branch
A    60
Name: Electronic accessories, dtype: int64

In [8]:
# Спосіб 2

invoices_by_category['Electronic accessories'].sort_values(ascending=False)[:1]

Branch
A    60
Name: Electronic accessories, dtype: int64

In [9]:
# Спосіб 3

invoices_by_category['Electronic accessories'].idxmax()

'A'

4-6. **Творче завдання на розвиток аналітичного мислення**

Крок 1. Сформулюйте ТРИ питання (гіпотези) до наявних даних, які допомогли б вам зрозуміти, які користувачі що, де та коли найбільше/найменше купують, аби дати на основі цих гіпотез рекомендації бізнесу. Звісно питання мають бути не тими, на які ми вже відповіли в завданнях модулю.

Крок 2. Знайдіть відповіді на свої питання з допомогою функціоналу pandas.

Крок 3. Напишіть, як відповідь на це питання може бути використана для прийняття бізнес рішень.   
   
 Питання можуть бути будь-якої складності, але їх має бути 3. Кожне питання оцінюється як 1 завдання. Без виконання цього завдання ДЗ не приймається. Якщо є питання щодо виконання - пишіть у чат 🙌

**Питання / гіпотеза 1 - Здійснені покупки у всіх містах за статтю по всім категоріям, і їх різниця**

In [10]:
invoices_by_city_gender_and_product_line = pd.pivot_table(
    df,
    index=['Gender'],
    values=['Invoice ID'],
    columns=['Product line'],
    aggfunc='size'
)

display(invoices_by_city_gender_and_product_line)
display(invoices_by_city_gender_and_product_line.diff(1))

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Gender,,,,,,
Female,84,96,90,64,79,88
Male,86,82,84,88,81,78

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Gender,,,,,,
Female,NaN,NaN,NaN,NaN,NaN,NaN
Male,2.0,-14.0,-6.0,24.0,2.0,-10.0

**Питання / гіпотеза 2 - Визначити кількість чеків за методами оплати в кожному місті, а також середній валовий дохід за способом оплати**

In [11]:
df.groupby(['City', 'Payment'])[['Invoice ID', 'gross income']].agg({'Invoice ID':'count', 'gross income': 'mean'})

                       Invoice ID  gross income
City      Payment
Mandalay  Cash                110     15.298468
          Credit card         109     16.314922
          Ewallet             113     14.122779
Naypyitaw Cash                124     16.546028
          Credit card          98     14.736378
          Ewallet             106     16.691547
Yangon    Cash                110     14.623918
          Credit card         104     15.153274
          Ewallet             126     14.861817

**Питання / гіпотеза 2 - Визначити найпопулярнішу категорію товарів серед покупців, кошт проданих товарів та сума валового доходу за категоріями**

In [12]:
df['Product line'].value_counts()

Product line
Fashion accessories       178
Food and beverages        174
Electronic accessories    170
Sports and travel         166
Home and lifestyle        160
Health and beauty         152
Name: count, dtype: int64

In [13]:
df.groupby('Product line')[['cogs', 'gross income']].sum().sort_values(by='gross income', ascending=False)

                            cogs  gross income
Product line
Food and beverages      53471.28     2673.5640
Sports and travel       52497.93     2624.8965
Electronic accessories  51750.03     2587.5015
Fashion accessories     51719.90     2585.9950
Home and lifestyle      51297.06     2564.8530
Health and beauty       46851.18     2342.5590